<%- include("../partials/sidebar") %>

<div class="p-6 ml-72">
  <h1 class="text-2xl font-bold">Laporan KPI</h1>

  <p class="text-gray-500">
    (Nanti bisa dibuat grafik, ranking, performance score)
  </p>
</div>
