<%- layout('layouts/main') -%>

  <div class="ml-72 min-h-screen bg-slate-50 p-10 text-slate-800">

    <!-- HEADER -->
    <div class="mb-8">
      <h1 class="text-2xl font-semibold tracking-tight">Dashboard</h1>
      <p class="text-sm text-slate-500 mt-1">
        Selamat datang, <%= user.fullName %>
      </p>

    </div>


  </div>