<% layout('layouts/main') -%>

<!-- TOP -->
<div class="mb-8">
  <h1 class="text-3xl font-bold text-slate-800">Dashboard</h1>
  <p class="text-slate-500">Welcome back, <%= user.email %></p>
</div>

<!-- CARDS -->
<div class="grid grid-cols-4 gap-6">
  <div class="bg-white p-6 rounded-2xl shadow">
    <p>Total Karyawan</p>
    <h2 class="text-3xl font-bold">120</h2>
  </div>

  <div class="bg-white p-6 rounded-2xl shadow">
    <p>Hadir</p>
    <h2 class="text-3xl font-bold text-green-600">98</h2>
  </div>

  <div class="bg-white p-6 rounded-2xl shadow">
    <p>Cuti</p>
    <h2 class="text-3xl font-bold text-yellow-500">12</h2>
  </div>

  <div class="bg-white p-6 rounded-2xl shadow">
    <p>Lembur</p>
    <h2 class="text-3xl font-bold text-blue-600">7</h2>
  </div>
</div>
