@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@layer base {
  html {
    font-family: Inter, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
}
* {
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  /* Menyembunyikan scrollbar untuk Chrome, Safari, dan Opera */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  /* Menyembunyikan scrollbar untuk IE, Edge, dan Firefox */
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
