<div
  class="header-surat"
  style="
    position: relative;
    width: 100%;
    border-bottom: 3px solid #1a365d;
    padding: 25px 30px 15px 30px;
    box-sizing: border-box;
    background-color: #ffffff;
  "
>
  <div
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 80px;
      background-color: #fbbf24;
    "
  ></div>

  <table style="width: 100%; border-collapse: collapse; border: none">
    <tr>
      <td style="width: 15%; vertical-align: middle; border: none; padding: 0">
        <div
          style="
            width: 75px;
            height: 75px;
            background: #1a365d;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #ffffff;
            font-size: 8pt;
            text-align: center;
            line-height: 1.2;
            border: 2px solid #fbbf24;
          "
        >
          <span style="font-size: 10pt; font-weight: 900; tracking-spacing: 0.5px">ZAFA</span>
          <span style="font-size: 7pt; color: #fbbf24; font-weight: bold">TOUR</span>
        </div>
      </td>

      <td
        style="
          width: 65%;
          text-align: left;
          vertical-align: middle;
          border: none;
          padding-left: 15px;
        "
      >
        <div
          style="
            font-size: 20pt;
            font-weight: 800;
            color: #0f172a;
            letter-spacing: 0.5px;
            line-height: 1.1;
          "
        >
          PT. ZAFA MULIA MANDIRI
        </div>
        <div
          style="
            font-size: 9pt;
            font-weight: bold;
            color: #334155;
            margin-top: 5px;
            letter-spacing: 0.2px;
          "
        >
          Izin Umrah : SK Menteri Agama RI No. U.516 Tahun 2020
        </div>
        <div
          style="
            font-size: 9pt;
            font-weight: bold;
            color: #334155;
            margin-top: 2px;
            letter-spacing: 0.2px;
          "
        >
          Izin PIHK : OSS No. Induk Berusaha 9120 2140 5105 70002
        </div>
      </td>

      <td style="width: 20%; text-align: right; vertical-align: top; border: none; padding: 0">
        <div style="display: inline-block; text-align: right; padding-top: 5px">
          <span
            style="
              font-size: 8.5pt;
              font-weight: 900;
              color: #1a365d;
              letter-spacing: 1px;
              display: block;
              line-height: 1;
            "
          >
            ZAFA TOUR
          </span>
          <span
            style="
              font-size: 6pt;
              color: #64748b;
              display: block;
              margin-top: 3px;
              font-weight: bold;
            "
          >
            UMRAH & HAJI SERVICE
          </span>
          <div style="margin-top: 8px; display: flex; justify-content: flex-end; gap: 3px">
            <div
              style="width: 8px; height: 8px; background-color: #1a365d; transform: rotate(45deg)"
            ></div>
            <div
              style="width: 8px; height: 8px; background-color: #fbbf24; transform: rotate(45deg)"
            ></div>
            <div
              style="width: 8px; height: 8px; background-color: #3b82f6; transform: rotate(45deg)"
            ></div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
