<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>

  <body class="bg-slate-100">
    <div class="flex min-h-screen">
      <!-- SIDEBAR GLOBAL -->
      <%- include('../partials/sidebar') %>

      <!-- CONTENT DINAMIS -->
      <main class="flex-1 p-10"><%- body %></main>
    </div>
  </body>
</html>
