<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-slate-100 text-slate-800">
    <div class="flex min-h-screen">
      <!-- SIDEBAR -->
      <%- include('../partials/sidebar') %>

      <!-- CONTENT -->
      <main class="flex-1 p-10"><%- body -%></main>
    </div>
  </body>
</html>
